h1 {
    text-align: center;
}
.standard-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
}

.note-title-wrapper {
    cursor: pointer;
}
.note-title-wrapper:hover {
    color: #008cba;
}

.main {
    display: flex;
    margin: 0 auto;
}
@media(min-width: 768px) {
    .main {
        flex-direction: row;
    }
    .main > div:first-child {
        margin-right: 8px;
        min-width: 490px;
        width: 490px;
    }
    .main > div:first-child > div {
        padding: 10px 10px 40px 10px !important;
        border: 2px solid lightgray;
        position: sticky;
        top: 30px;
    }
    .main > div:nth-child(2) {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .main {
        flex-direction: column;
    }
    .main > div:first-child {
        display: none;
    }
}

.wrapper {
    /* max-width: calc(100vw - 490px); */
    /* padding: 0 16px; */
    margin: auto;
}
.search-wrapper {
    margin: 0 auto;
    display: flex;
}
.search-wrapper > div > .ui.input {
    margin-right: 8px !important;
}
@media(min-width: 768px) {
    .search-wrapper {
        flex-direction: row;
    }
    .search-wrapper > *:not(:last-child) {
        margin-right: 8px !important;
    }
    .search-wrapper > div:last-child {
        margin-left: auto !important;
    }
}
@media(max-width: 1000px) {
    .search-wrapper {
        flex-direction: column;
    }
    .search-wrapper > * {
        width: auto;
    }
    .search-wrapper > *:not(:last-child) {
        margin-bottom: 8px !important;
    }
    /* .search-wrapper > *:nth-child(2) {
        position: sticky;
        top: 10px;
    } */
}

.ui.card {
    border: 2px solid #E8E8E8;
}
.active-card-wrapper > .ui.card {
    border: 2px solid #008cba;
}

.navbar {
    padding: 20px;
    margin-bottom: 20px;
    background: #008cba;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.navbar .create {
    color: #fff;
    font-size: 1.5rem;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 2rem;
}

.navbar-brand:hover, .create:hover {
    color: #fff;
}

.form-container {
    width: 400px;
    margin: 20px auto;
}

.note-container {
    text-align: center;
    margin-top: 20px;
}

.grid {
    display: grid;
}
.ui.card, .ui.cards > .card {
    width: 100%;
}
@media(max-width: 767px) {
    .grid {
        row-gap: 18px;
        column-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        /* grid-auto-rows: minmax(230px, auto); */
        grid-auto-flow: dense;
    }
}
@media(min-width: 768px) {
    .grid {
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        /* grid-auto-rows: minmax(auto, auto); */
        grid-auto-flow: dense;
        justify-items: stretch;
        align-items: stretch;
    }
}

.todo-item {
    cursor: default;
}

.description-markdown {
    white-space: pre-wrap;
}
.description-markdown blockquote {
    margin-left: 15px;
    padding: 5px 0px 5px 15px;
    border-left: 10px solid rgba(47, 47, 47, 0.4);
    color: gray;
}
.description-markdown pre {
    border-radius: 4px;
}
.description-markdown pre code {
    box-shadow: unset;
    padding-left: 0px !important;
}
.description-markdown ul {
    margin: 15px 0 15px 15px;
    list-style-type: none;
}
.description-markdown ul li input[type=checkbox] {
    transform: translateY(3px);
}
.description-markdown ul ul {
    margin: 5px 0 5px 15px;
    list-style-type: none;
}
.description-markdown ul input[type=checkbox] {
    margin-right: 10px;
}

.custom-html-style code {
    box-shadow: unset;
}
.rc-md-editor {
    margin-bottom: 15px;
}
.ui.form textarea:not([rows]) {
    max-height: unset;
}