{
  "plugins": [
    "syntax-dynamic-import",
    [
      "@babel/plugin-proposal-class-properties",
      { "loose": true }
    ],
    "transform-async-to-generator",
    "@babel/transform-runtime",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "~": "./"
        }
      }
    ]
  ],
  "presets": [
    "next/babel"
  ],
  "compact": true
}
